body {
    padding: 0;
    margin: 0;
}

header {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    position: fixed;
    background-color: #F0F4F8;
    display: flex;
    flex-wrap: wrap;
}

header nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    height: 52px;
    width: 1245px;
}

header hr {
    width: 1245px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-color: #CBD8E9;
}

nav img {
    margin: 0 6px 0 6px;
}

header nav a {
    color: #6E9BB8;
    text-decoration: none;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
li {
    padding: 0;
    margin: 0 21px 0 0;
}

section nav a {
    color: #0000DE;
    text-decoration: none;
}
main {
    background-color: #F0F4F8;

}
section {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 1245px;
    margin: 0 auto;
    height: 630px;
}
section nav {
    padding-top: 83px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
    color: #0000DE;
}

.button__lk{
    display: inline-block;
    text-align: center;
    padding: 14px 0 14px 0;
    width: 175px;
    background-color: #0000DE;  
    border-radius: 20px 0 20px 0;
    color: #fff;
}

.button__online-request {
    display: inline-block;
    text-align: center;
    padding: 14px 0 14px 0;
    width: 175px;
    background-color: #fff;  
    border-radius: 20px 0 20px 0;
}